* {
  box-sizing: border-box;
}

body {
  background-image: url("./assets/img/marvel-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
